@charset 'UTF-8';

/*fonte bebas (googlefonts)*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jura:wght@300&display=swap');

/*fonte idroid (local)*/
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf');
}

/*reset config HTML */
* {
    margin: 0px;
    padding: 0px;

}

:root {
    /*paleta cores*/
    --corWh: white;
    --cor00: #BCD07B;
    --cor01: #A4C639;
    --cor02: #7B942B;
    --cor03: #3C4715;
    --cor04: #41472A;
    
    /*fontes do projeto*/
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Jura', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor00));
    font-family: var(--fonte-destaque);
    margin: 0px;
    color: var(--corWh);
    text-align: justify;
}

a.externo::after {
    content: '\1F517';
}


header {
    min-height: 150px;
    margin: auto;   
    background-color: var(--cor04);
    border-radius: 0px 0px 15px 15px;
    padding: 10px 10px 0px 10px;
}

header > h1{
    color: var(--corWh);
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 15px;
    text-shadow: 2px 2px 2px rgb(32, 16, 16);
}

header p {
    color: var(--corWh);
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: 30px;
    text-shadow: 2px 2px 2px rgb(32, 16, 16);
}

header > nav {
    text-align: center;
    margin-bottom: 0px;
}

header > nav > a {
    color: var(--cor00);
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    
}

header > nav > a:hover {
    background-color: var(--cor00);
    color: var(--cor04);
    border-radius: 25px 25px 0px 0px;
    transition-duration: 2s;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--cor03);
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor00);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px; /*resolution of image*/
    display: block;
    margin: auto;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor01);
    font-weight: bold;
}

main > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor01);
    background-color: var(--cor04);
    padding: 10px;
    border-radius: 7px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor03);
}

div.video {
    background-color: var(--cor02);
    margin: 0px -20px 30px -20px;
    padding: 15px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor04);
    color: var(--corWh);
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.507);
    margin-top: 15px;
}

aside > h1 {
    background-color:var(--cor02);
    padding: 14px;
    border-radius: 15px 15px 0px 0px;
    margin: -15px -15px 0px -15px;
    margin-bottom: 15px;
}

aside > p {
    margin-bottom: 15px;
}

aside > ul {
    margin: 30px;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

footer {
    margin: auto;
    background-color: var(--cor04);
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    text-align: center;
    color: var(--corWh);
}

footer a {
    color: var(--corWh);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor00)
}